body {
  background: #fdfaf6;
  background-image: url("https://www.freecodecamp.org/news/content/images/size/w2000/2021/06/w-qjCHPZbeXCQ-unsplash.jpg");
}
.header {
}
.container {
  width: 150%;
  background-color: #eaeaea8a;
  /* #eaeaeaad */

  display: block;
  margin: 10px auto;
  padding-top: 10px;
  border-radius: 30px;
}
input {
  margin-top: 100px;
  width: 75%;
  height: 40px;
  font-size: 17px;
  outline: none;
  border-radius: 5px;
  padding-left: 10px;
  border-width: 2px;
}
button {
  margin: 10px;
}
.btn {
  vertical-align: baseline;
}

.weather-app {
  width: 500px;
  background-color: white;
  background-image: linear-gradient(
    to right,
    rgba(44, 161, 33, 0),
    rgba(68, 143, 228, 0.397)
  );

  display: block;
  margin: 10px auto;

  border-radius: 10px;
  padding: 50px;
}
.temperature-value p {
  display: flex;
  font-size: 3.5rem;
  margin-left: 5rem;
  margin-top: 1.5rem;
}

.temperature-description {
  font-size: 25px;
  font-weight: 500;
  font-family: calibri;
}
.temperature-description #location {
  font-size: 3.5rem;
  font-family: calibri;
  margin-top: 1rem;
}
.days {
  float: left;
  width: 20%;
}
/* 
.forcastChart:after {
  content: "";
  display: table;
  clear: both;
} */

/* https://api.bigdatacloud.net/data/reverse-geocode-client?latitude=37.42159&longitude=-122.0837&localityLanguage=en */

/* https://api.locationiq.com/v1/autocomplete.php?key=pk.bfea53eb6538c4423cd9bcb8b8ebb554&q=${city}&limit=5 */

/* API KEY LocationIQ : pk.bfea53eb6538c4423cd9bcb8b8ebb554 */
